<%= form_for @forum, :html => {:class => "form-stacked"} do |f| %>
  <p><h2>Create A Forum</h2></p>
  <% if @forum.errors.any? %>
    <div class="error_messages">
      <ul>
        <% for message in @forum.errors.full_messages %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <p>
    http://<%= f.text_field :subdomain %>.ribbot.com
  </p>
  <p>Note: names can be changed later or used on a custom domain</p>

  <fieldset>
    <%= submit_tag "Create Forum", :class => "btn btn-primary btn-large", :disable_with => "Creating..." %>
  </fieldset>
<% end %>