<div class="row">
  <%= render 'shared/sidebar' %>
  
  <div class="span9">
    <% if @posts.empty? %>
      <p>You haven't made any <%= current_forum.posts_label.downcase %> yet.
    <% end %>
    
    <table class="table table-plain">
      <%= render :partial => 'posts/post', :collection => @posts, :locals => {:voting => false} %>
    </table>

    <%= paginate @posts %>
  </div>
</div>