<% if flash.present? %>
  <div class="container flash">
    <% flash.each do |type, msg| %>
      <%= content_tag :div, :class => "alert #{flash_type_to_css_class type}" do %>
        <a class="close">×</a>
        <%= msg %>
      <% end %>
    <% end %>
  </div>
<% end %>