<% if current_forum.tags.present? %>
  <h6>Filter By Tags</h6>
  
  <% current_names = params[:tags].split(',') rescue [] %>
  <% current_forum.tags.each do |t| %>
    <% if current_names.include?(t.name) %>
      <%= link_to t.name, root_path(request.query_parameters.merge(:tags => nil)), :class => "tag active" %>
    <% else %>
      <%= link_to t.name, root_path(request.query_parameters.merge(:tags => t.name)), :class => "tag" %>
    <% end %>
  <% end %>
<% end %>