<h1>Features</h1>

<% ['Threaded discussions', 'User voting and reputation', 'Search', 'Intelligent ranking algorithms', 'Moderation Tools', 'Custom Themes', 'Custom domains', 'Third party logins (coming soon)', 'Forum monetization for owners (coming soon)'].each do |f| %>
  <p><%= checkmark %> <%= f %></p>
<% end %>

<p></p>
<h1>About Ribbot</h1>
<p>Standard online forums often lead to low quality discussions.  Sites like Hacker News, Reddit, StackOverflow, and 37Signals Answers have pioneered a new format for forums that leads to higher quality content.  They are characterized by a number of features including post ranking, user reputation, crowd sourcing, and threaded discussions.</p>
<p>Ribbot seeks to allow any company or online community to setup a similar forum and build a high quality community online.</p>
<p>Ribbot was created by Brian Armstrong in 2011 in San Francisco, CA.