<h1>Pricing</h1>

<table class="table">
  <thead>
    <tr>
      <th>Number of Users</th>
      <th>With Ads</th>
      <th>Without Ads*</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>Up to 100</td><td>Free</td><td>$2/month</td></tr>
    <tr><td>Up to 1,000</td><td>Free</td><td>$9/month</td></tr>
    <tr><td>Up to 10,000</td><td>Free</td><td>$49/month</td></tr>
    <tr><td>Up to 100,000</td><td>Free</td><td>$249/month</td></tr>
    <tr><td>Up to 1,000,000</td><td>Free</td><td>$1,249/month</td></tr>
    <tr><td>More than 1,000,000</td><td>Free</td><td>$6,250/month</td></tr>
  </tbody>
</table>

<p> &nbsp;</p>
<p>* Our paid option allows you to run your own ads if you wish.</p>