form.post-form {
  textarea { height: 150px; }
}
form.post-form, form.page-form {  
  .url-link.active,
  .text-link.active { color: #333; text-decoration: none; cursor: default; }
}

.post { clear: both; }
.post .description { width: 100%; }
.post .description .byline { margin-bottom: 0; }

.post-link { font-weight: bold;   }